* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    gap: 10px;
    grid-template-columns:2fr 6fr ;
    grid-template-areas: 
                        "h h h"
                        "n a a"
                        "f f f ";

}


header, nav, article,footer {
    border:1px solid black;
    padding: 10px
}
header {
    grid-area: h
}
nav {
    grid-area: n
}
article {
    grid-area: a
}
footer {
    grid-area: f
}